<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- 引用"application.properties配置文件  -->
  <properties resource="application.yaml"/>
  <!-- development : 开发模式 work : 工作模式 -->
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <!-- 配置数据库连接信息 -->
      <dataSource type="POOLED">
        <!-- value属性值引用db.properties配置文件中配置的值 -->
        <property name="driver" value="${spring.datasource.driver-class-name}"/>
        <property name="url" value="${spring.datasource.url}"/>
        <property name="username" value="${spring.datasource.username}"/>
        <property name="password" value="${spring.datasource.password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <package name="jp.ka.mapper"/>
  </mappers>
</configuration>
