<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.ka.mapper.U2Mapper">

  <resultMap id="infoMap" type="jp.ka.bean.UserInfo">
    <result property="id" column="id"/>
    <result property="uid" column="uid"/>
    <result property="pageKey" column="page_key"/>
    <result property="passKey" column="pass_key"/>
  </resultMap>

  <resultMap id="cookieMap" type="jp.ka.bean.UserCookie">
    <result property="k" column="k"/>
    <result property="v" column="v"/>
  </resultMap>

  <insert id="insertInfo" parameterType="jp.ka.bean.UserInfo">
    INSERT INTO info (id, uid, page_key, pass_key) VALUES (#{id}, #{uid}, #{pageKey}, #{passKey})
  </insert>

  <select id="queryInfo" resultMap="infoMap">
    SELECT id, uid, page_key, pass_key FROM info
  </select>

  <insert id="insertCookies" parameterType="jp.ka.bean.UserCookie">
    INSERT INTO cookie (k, v) VALUES (#{k}, #{v})
  </insert>

  <select id="queryCookies" resultMap="cookieMap">
    SELECT k, v FROM cookie
  </select>

</mapper>
